.profile__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 639px) {
  .profile__info {
    max-width: 440px;
  }
}

@media screen and (max-width: 424px) {
  .profile__info {
    flex-direction: column;
  }
}