.profile__wrapper {
  box-sizing: border-box;
  max-width: 336px;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: minmax(max-content, min-content);
  gap: 16px 18px;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 639px) {
  .profile__wrapper {
    max-width: 300px;
    grid-template-columns: 220px 18px;
    column-gap: 10px;
  }
}

@media screen and (max-width: 424px) {
  .profile__wrapper {
    max-width: 282px;
    grid-template-columns: 189px 18px;
    gap: 14px 10px;
  }
}